body {
  background-color: #fff;
  color: #000;
  font-size: 18px;
  line-height: 150%;

}

 h1 {
  font-size: 44px;
  line-height: 1.2em;
}

p {
  line-height: 150%;
  margin-bottom: 20px;
}

nav
{
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo
{
  margin: 20px;
  width: 100px;
}

.large-pic
{
  width: 100%;
}

.medium-pic
{
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

a {
  text-decoration: none;
}

/* unvisited */
a:link {
  color:#0070BB;
}

/* mouse over */
a:hover {
  color:#0070BC;
}

article {
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  float: left;

}

.container {
  margin: 0 auto;
  width: 100%;
}
